
<%= render 'shared/flash_message' %>
<%= render partial: 'shared/flash_validations', locals: {object: @game} unless @game.nil?%>

<div class='list_title'>
    <%= @developer.name %>
</div>



<%= render partial: 'developers/employee_table', locals: {developer: @developer} %>

<span class='page_title'>
    <%= "Games created by #{@developer.name}"%>
</span>

<%= button_to "Add Game", new_developer_game_path(@developer), :method => :get %>
<%= render partial: 'games/list', locals: {games: @developer.games} %>

