
<div class='infobox'>
    <table class = 'user_data'>
        <tr> 
            <th>Username: </th>
            <td><%= user.username %></td>
        </tr>
        <tr> 
            <th>Fullname: </th>
            <td><%= user.full_name %></td>
        </tr>
        <tr> 
            <th>Email: </th>
            <td><%= user.email %></td>
        </tr>
        <% if user.is_developer? %>
            <tr>
                <th>Developer for</th>
                <% user.developers.each do |developer| %>
                    <td><%= link_to developer.name, developer_path(developer) %></td>
                <% end %>                    
            </tr>            
        <% end %>
    </table>
    
    
    <%= user_picture(user) %>
</div>
    


