
<div class='infobox'>
    
    <div class='user_data'>
        <h2><%= user.full_name %></h2>
        <br>
        <table class>
            <tr> 
                <th class='label'>Username: </th>
                <td><%= user.username %></td>
            </tr>
            <tr> 
                <th class='label'>Email: </th>
                <td><%= user.email %></td>
            </tr>
            <% if user.is_developer? %>
                <tr>
                    <th class='label'>Developer for</th>
                    <% user.developers.each do |developer| %>
                        <td><%= link_to developer.name, developer_path(developer) %></td>
                    <% end %>                    
                </tr>            
            <% end %>
        </table>
        <%= button_to "Go to page", user_path(user), method: :get%>
        
        <% if current_user.owns_developer? && !user.works_for?(current_user.owned_developer) %>
            <%= button_to "Add to #{current_user.developer_name}", developer_user_path(current_user.owned_developer, user), method: :patch %>
        <% end %>
    </div>
    
    
    <%= user_picture(user) %>
</div>
    


