<%= form_for @user do |f| %>    
    <table>
        <tr>
            <td><%= f.label :username %></td>
            <td><%= f.text_field :username %></td>
        </tr>
        <tr>
            <td><%= f.label :first_name %></td>
            <td><%= f.text_field :first_name %></td>
        </tr>
        <tr>
            <td><%= f.label :last_name %></td>
            <td><%= f.text_field :last_name %></td>
        </tr>
        <tr>
            <td><%= f.label :email %></td>
            <td><%= f.text_field :email %></td>
        </tr>
        
        <% if @user.set_pw %>
            <tr> 
                <th colspan=2>Enter password to confirm changes</th> 
            </tr>
        <% else %>
            <tr> 
                <th colspan=2>Set a password for your account</th> 
            </tr>
        <% end %>
            <tr>
                <td><%= f.label :password %></td>
                <td><%= f.password_field :password %></td>
            </tr>
       
    </table>



    <%=f.submit "Edit Profile" %>
<% end %>