<%= render partial: "shared/flash_validations", locals: {object: @user} %>

<div class='container'>
    <div class='page_title'>
        Create A New Couch Gamer Account
    </div>
    <%= form_for @user do |f| %>    
        <table>
            <tr>
                <td class='label'><%= f.label :username %></td>
                <td><%= f.text_field :username %></td>
            </tr>
            <tr>
                <td class='label'><%= f.label :password %></td>
                <td><%= f.password_field :password %></td>
            </tr>
            <tr>
                <td class='label'><%= f.label :first_name %></td>
                <td><%= f.text_field :first_name %></td>
            </tr>
            <tr>
                <td class='label'><%= f.label :last_name %></td>
                <td><%= f.text_field :last_name %></td>
            </tr>
            <tr>
                <td class='label'><%= f.label :email %></td>
                <td><%= f.text_field :email %></td>
            </tr>     
        </table>

        <br>
        <%=f.submit "Create Account" %>
    <% end %>
</div>