<% if flash[:message] %>
    <%= flash[:message] %>
<% end %>

<h4><%= @user.username %></h4>
<h5><%= "#{@user.first_name} #{@user.last_name}" %></h5>

<% @user.games.each do |game| %>
    <%= render partial: "games/card", locals: {game: game} %>
<% end %>
<%= link_to "Log out", logout_path %> 