
<%= render 'shared/flash_message' %>
<%= render partial: "infobox", locals: {user: @user, include_go_to_button: false} %>
<%= link_to "edit profile", edit_user_path if @user == current_user%>


<h3><%= "#{@user.username}'s Game Collection" %></h3>
<%= render partial: "games/list", locals: {games: @user.games, include_add_button_on_cards: false} %>

