<div class='game_card'>
    
    <div class = 'game_card_header'>        
        
        
    
        <span class='game_card_title'> 
            <%= link_to game.title, developer_game_path(game.developer, game) %> 
        </span>

        <span class='game_card_release_year'> 
            <%= "Released in #{game.release_year} by" %> <%= link_to game.developer.name, developer_path(game.developer) %> 
        </span>

        
        <img src='' alt='No Image Available'>

    </div>
    
    
    
    <p class='game_card_description'> <%=game.description%> </p>    

    <div class='game_card_footer'>
        <%= link_to "#{game.user_count} members own this game" %>
    </div>
</div>