<%= form_for game do |f| %>    
    <table>
        <tr>
            <td><%= f.label :title %></td>
            <td><%= f.text_field :title %></td>
        </tr>
        <tr>
            <td><%= f.label :description %></td>
            <td><%= f.text_area :description %></td>
        </tr>
        <tr>
            <td><%= f.label :release_year %></td>
            <td><%= f.number_field :release_year %></td>
        </tr>
    </table>
    <%= f.submit button_text %>
<% end %>