<div class='page_container'>
    <%= render "shared/flash_message" %>
    <%= render partial: "shared/flash_validations", locals: {object: @game} %>

    <%= render partial: 'card', locals: {game: @game, include_button: true} %>

    <% if @game.has_developer?(current_user) %>
        <%= button_to "Edit Game", edit_developer_game_path(@developer, @game), :method => :get %>
        <%= form_tag(developer_game_path, :method => :delete) do %>
            <%= submit_tag "Delete" %>
        <% end %>
    <% end %>

    <%= render partial: 'users/list', locals: {users: @game.users, list_title: "Members who have #{@game.title}"} %>
</div>