<!DOCTYPE html>
<html>
  <head>
    <title>CouchGamers</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class='navbar'>
      <%= link_to "Home", user_path(current_user) %>  |
      <%= link_to "Games", games_path %>  |
      <%= link_to "Members", users_path %> 
    </div>
    
    <%= yield %>
  </body>
</html>
